@model List<JobPostingModel>

 <div id="deleteJobPostingConfig" data-url="/JobPosting/DeleteJobPosting"></div>

 <table id="adminTable" class="table" method="post">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Jobbezeichnung</th>
                <th scope="col">Firmenbezeichnung</th>
                <th scope="col">Startdatum</th>
                <th scope="col">Gehalt</th>
                <th scope="col">erstellt von</th>
                <th scope="col">Aktion</th>
            </tr>
        </thead>
        <tbody>
        @foreach (JobPostingModel jobPostingModel in Model)
        {
                    <tr scope="row">
                        <th>@jobPostingModel.Id</th>
                        <td>@jobPostingModel.JobTitle</td>
                        <td>
                            @jobPostingModel.CompanyName
                            @if (jobPostingModel.CompanyImage != null)
                            {
                                            <img src="data:image/png;base64,@Convert.ToBase64String(jobPostingModel.CompanyImage)" 
                                                 class="logo-small logo-xs" />
                            }
                        </td>
                        <td>@jobPostingModel.StartDate.ToShortDateString()</td>
                        <td>@jobPostingModel.Salary €</td>
                        <td>@jobPostingModel.OwnerUsername</td>
                        <td class="text-nowrap">
                            @if(User.Identity.IsAuthenticated)
                            {
                                @*a == GET-Methode*@
                                <a class="btn btn-primary btn-sm me-3" asp-controller="JobPosting" asp-action="CreatedEditJobPosting" asp-route-id="@jobPostingModel.Id">Bearbeiten</a>
                                @*button == POST-Methode*@
                                <button class="btn btn-outline-danger btn-sm" onclick="deleteJobPosting(@jobPostingModel.Id)">Löschen</button>
                            }
                            else
                            {
                                        <a class="btn btn-primary btn-sm me-3" asp-controller="JobPosting" asp-action="JobPostingDetails" asp-route-id="@jobPostingModel.Id">Mehr anzeigen</a>
                            }
                </td>
                    </tr>
        }
        </tbody>
    </table> 

@section Scripts
{
    <script src="~/js/site.js"></script>
}
