@model IEnumerable<Worktastic.Models.JobPostingModel>

 <table id="adminTable" class="table py-3">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Jobbezeichnung</th>
                <th scope="col">Firmenbezeichnung</th>
                <th scope="col">Startdatum</th>
                <th scope="col">Gehalt</th>
                <th scope="col">erstellt von</th>
                <th scope="col">Aktion</th>
            </tr>
        </thead>
        <tbody>
        @foreach (JobPostingModel jobPostingModel in Model)
        {
                    <tr scope="row">
                        <th>@jobPostingModel.Id</th>
                        <td>@jobPostingModel.JobTitle</td>
                        <td>
                            @jobPostingModel.CompanyName
                            @if (jobPostingModel.CompanyImage != null)
                            {
                                            <img src="data:image/png;base64,@Convert.ToBase64String(jobPostingModel.CompanyImage)" 
                                                 class="logo-small" />
                            }
                        </td>
                        <td>@jobPostingModel.StartDate.ToShortDateString()</td>
                        <td>@jobPostingModel.Salary €</td>
                        <td>@jobPostingModel.OwnerUsername</td>
                        <td>
                    @*a == GET-Methode*@
                            <a class="btn btn-primary btn-sm me-3" asp-controller="JobPosting" asp-action="CreatedEditJobPosting" asp-route-id="@jobPostingModel.Id">Bearbeiten</a>
                    @*button == POST-Methode*@
                            <button class="btn btn-outline-danger btn-sm" onclick="deleteJobPosting(@jobPostingModel.Id)">Löschen</button>
                        </td>
                    </tr>
        }
        </tbody>
    </table> 

@section Scripts
    {
            <script>
                      $(document).ready(function () {
                          var table = $('#adminTable').DataTable({
                            pagingType: "full_numbers",
                            language: {
                              search: "Suche:",
                              lengthMenu: "Zeige _MENU_ Einträge"
                            },
                            // Hier fügst du die Bootstrap-Klasse für eine Bootstrap-Tabelle hinzu
                            dom: 'Bfrtip', // Zum Hinzufügen von Bootstrap-Buttons (optional)
                            buttons: [
                              'copy', 'csv', 'excel', 'pdf', 'print' // Optional: Buttons für Export-Optionen
                            ],
                            // Hiermit wird die Bootstrap-Klasse für die Tabelle gesetzt
                            responsive: true,
                            "paging": true,
                            "lengthChange": true,
                            "searching": true,
                            "ordering": true,
                            "info": true,
                            "autoWidth": false
                          });
                        });

                function deleteJobPosting(jobPostingId) {
                    Swal.fire({
                        title: "Wollen Sie wirklich den Eintrag löschen?",
                        showCancelButton: true,
                        icon: "warning",
                        iconColor: "#dc3545",
                        confirmButtonText: "Ja, löschen!",
                        cancelButtonText: "Abbrechen",
                        confirmButtonColor: "#dc3545",
                        cancelButtonColor: "#007bff"
                    }).then((result) => {
                        if (result.isConfirmed) {
                            $.ajax({
                                type: "POST",
                                url: "@Url.Action("DeleteJobPosting")",
                                data: { id: jobPostingId },
                                success: function (msg) {
                                    Swal.fire("Eintrag gelöscht", "", "success").then((result) => {
                                        location.reload();
                                    });
                                },
                                error: function (msg) {
                                    Swal.fire("Ups, irgendetwas ist schiefgelaufen!", "", "error");
                                }
                            });
                            } 
                            else 
                            {
                                console.log("Löschen abgebrochen.");
                            }
                    });
                }
            </script>
}
