@model List<JobPostingModel>

            <div class="list-group">
                @foreach (JobPostingModel jobPosting in Model)
                {
                  @*  <a href="#" onclick="showJobModal(@jobPosting.Id)"  class="list-group-item list-group-item-action d-flex align-items-start justify-content-between"> *@
                       <a class="list-group-item list-group-item-action detailItem d-flex align-items-start justify-content-between" data-id="@jobPosting.Id">
                            <div class="flex-shrink-0">
                                <img src="data:image/png;base64,@Convert.ToBase64String(jobPosting.CompanyImage)" class="logo-small" />
                            </div>

                            <div class="flex-grow-1">
                                <h5 class="mb-1">
                                    @jobPosting.JobTitle
                                </h5>
                                <p class="mb-1">
                                    @jobPosting.CompanyName
                                </p>
                                <p class="mb-1">
                                    @jobPosting.ContactMail       
                                </p>
                                <small>
                                    @jobPosting.StartDate.ToLongDateString()
                                </small>
                            </div>
                            <div>
                                <small>
                                    @jobPosting.JobLocation
                                </small>
                            </div>
                        </a>
                         @* <a class="btn btn-primary btn-sm me-3" asp-controller="JobPosting" asp-action="JobPostingDetails" asp-route-id="@jobPosting.Id">Mehr anzeigen</a> *@
                }
            </div>


