@model List<JobPostingModel>
@{
    ViewData["Title"] = "Deine Inserate";
}

<div>
    <div class="d-flex justify-content-end">
        <a class="btn btn-primary mb-3" asp-controller="JobPosting" asp-action="CreatedEditJobPosting">neuen Job anlegen</a>
    </div>
    
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Jobbezeichnung</th>
                <th scope="col">Firmenbezeichnung</th>
                <th scope="col">Startdatum</th>
                <th scope="col">Gehalt</th>
                <th scope="col">erstellt von</th>
                <th scope="col">Aktion</th>
            </tr>
        </thead>
        <tbody>
            @foreach (JobPostingModel jobPostingModel in Model)
            {
                <tr scope="row">
                    <th>@jobPostingModel.Id</th>
                    <td>@jobPostingModel.JobTitle</td>
                    <td>@jobPostingModel.CompanyName</td>
                    <td>@jobPostingModel.StartDate.ToShortDateString()</td>
                    <td>@jobPostingModel.Salary €</td>
                    <td>@jobPostingModel.OwnerUsername</td>
                    <td>
                        <a class="btn btn-primary btn-sm me-3" asp-controller="JobPosting" asp-action="CreatedEditJobPosting" asp-route-id="@jobPostingModel.Id">Bearbeiten</a>
                        <a class="btn btn-outline-danger btn-sm" asp-controller="JobPosting" asp-action="DeleteJobPosting" asp-route-id="@jobPostingModel.Id">Löschen</a>
                    </td>
                </tr>
            }
        </tbody>
    </table> 
</div>
